.container {
  margin-inline: 1.5rem;
  position: relative;
}

.title {
  text-align: center;
  margin-block: 3rem;
  text-transform: uppercase;
}

.gridContainer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.gridItem {
  width: 23.5%;
}

@media (max-width: 940px) {
  .container {
    margin-inline: 1rem;
  }

  .gridItem {
    width: 32%;
  }
}

@media (max-width: 540px) {
  .container {
    margin-inline: 0.5rem;
  }

  .gridItem {
    width: 49%;
  }
}
