.container {
  width: 50%;
  margin-top: 1.3rem;
}

.checkbox {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
